/* -------------------------------------------

main

------------------------------------------- */
*,
*:before,
*:after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

*,
*:focus {
    outline: inherit;
}

*::selection {
    color: inherit;
    background-color: transparent;
}

html {
    font-size: 11px;

    @media (max-width: 2000px) {
        font-size: 10px;
    }

    @media (max-width: 1800px) {
        font-size: 9px;
    }

    @media (max-width: 1200px) {
        font-size: 8px;
    }

    @media (max-width: 768px) {
        font-size: 7px;
    }
}

body {
    overscroll-behavior: none;
    font-family: $font-2;
    color: $m-2;
    font-size: 1.6rem;
}

.mil-page-wrapper {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.mil-outside {
    position: relative;

    &:before {
        content: '';
        width: 25rem;
        height: 100%;
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        background: linear-gradient(270deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 82%);

        @media (max-width: 1400px) {
            display: none;
        }
    }

    &:after {
        content: '';
        width: 25rem;
        height: 100%;
        position: absolute;
        top: 0;
        right: 0;
        background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 82%);

        @media (max-width: 1400px) {
            display: none;
        }
    }
}

.mil-blue-star {
    @media (max-width: 992px) {
        display: none;
    }
}

/* -------------------------------------------

buttons

------------------------------------------- */
.mil-btn {
    line-height: 100%;
    cursor: pointer;
    border: none;
    display: inline-flex;
    align-items: center;
    height: 6rem;
    border-radius: 6rem;
    padding: 0 4rem;
    background-color: $m-1;
    color: $m-3;
    letter-spacing: 1px;
    transition: $t-md;

    &.mil-sm {
        height: 4rem;
        padding: 0 2rem;
    }

    &.mil-border {
        border: solid 0.1rem rgba($m-1, .15);
        background-color: transparent;
        color: $m-1;

        &.mil-invert {
            border: solid 0.1rem rgba($m-3, .15);
            background-color: transparent;
            color: $m-3;

            &:hover {
                border: solid 0.1rem rgba($a-1, 1);
                color: $a-1;
            }
        }
    }

    &:hover {
        transform: scale(1.02);
        filter: brightness(150%);

        &.mil-b-grad {
            filter: brightness(100%);
        }
    }
}

.mil-btn-circle {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    transition: $t-md;

    &:hover {
        transform: scale(1.02);
        filter: brightness(150%);
    }
}


.mil-btn-icon {
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: solid 0.1rem rgba($a-1, 1);
    height: 6rem;
    width: 6rem;
    border-radius: 6rem;
    color: $a-1;
    transition: $t-md;

    & .fa-play {
        margin-left: .4rem;
    }

    &:hover {
        transform: scale(1.02);
        filter: brightness(150%);
    }
}

/* -------------------------------------------

typography

------------------------------------------- */
h1,
h2,
h3,
h4,
h5,
h6,
.mil-h1,
.mil-h2,
.mil-h3,
.mil-h4,
.mil-h5,
.mil-h6 {
    font-family: $font-1;
    font-weight: 700;
    color: $m-1;
}

a {
    text-decoration: none;
    color: inherit;
}

hr {
    height: 1px;
    border: none;
    background-color: #141414;
}

@media (max-width: 992px) {
    br {
        display: none;

        &.mil-stable {
            display: block;
        }
    }
}

//font-family

.mil-ff-1 {
    font-family: $font-1;
}

.mil-ff-2 {
    font-family: $font-2;
}

//font-size

.mil-fs-14 {
    font-size: 1.4rem;
}

.mil-fs-16 {
    font-size: 1.6rem;
}

.mil-fs-18 {
    font-size: 1.8rem;
}

.mil-fs-20 {
    font-size: 2rem;
}

.mil-fs-24 {
    font-size: 2.4rem;
}

.mil-fs-32 {
    font-size: 3.2rem;
}

.mil-fs-38 {
    font-size: 3.8rem;
}

.mil-fs-46 {
    font-size: 4.6rem;
}

.mil-fs-52 {
    font-size: 5.2rem;

    @media (max-width: 768px) {
        font-size: 3.8rem;
    }
}

.mil-fs-64 {
    font-size: 6.4rem;
}

.mil-fs-82 {
    font-size: 8.2rem;
}

.mil-fs-142 {
    font-size: 14.2rem;
}

//line-height

.mil-lh-100 {
    line-height: 100%;
}

.mil-lh-130 {
    line-height: 130%;
}

.mil-lh-150 {
    line-height: 150%;
}

//font-weight

.mil-fw-400 {
    font-weight: 400;
}

.mil-fw-500 {
    font-weight: 500;
}

.mil-fw-700 {
    font-weight: 700;
}

//color

.mil-c-m-1 {
    color: $m-1;
}

.mil-c-m-2 {
    color: $m-2;
}

.mil-c-m-3 {
    color: $m-3;
}

.mil-c-a-3 {
    color: $a-3;
}

.mil-c-grad {
    color: $a-1;
}

@supports (--css: variables) {
    .mil-c-grad {
        background: linear-gradient(0deg, $a-1, $a-2);
        color: transparent;
        background-clip: text;
    }
}

//background-color 

.mil-b-m-1 {
    background-color: $m-1;
}

.mil-b-m-1-light {
    background-color: lighten($m-1, 2%);
}

.mil-b-m-1-soft {
    background-color: lighten($m-1, 4.8%);
}

.mil-b-m-2 {
    background-color: $m-2;
}

.mil-b-m-2-light {
    background-color: lighten($m-2, 40%);
}

.mil-b-grad {
    background: linear-gradient(0deg, $a-1, $a-2);
}

/* -------------------------------------------

breadcrumbs

------------------------------------------- */

.mil-breadcrumbs {
    display: flex;

    & li {
        list-style-type: none;

        &:after {
            content: '/';
            margin: 0 .5rem;
        }

        & a {
            color: $m-1;
        }

        &:last-child {
            cursor: not-allowed;

            &:after {
                display: none;
            }

            & a {
                color: $m-2;
                pointer-events: none;
            }
        }
    }
}

/* -------------------------------------------

pagination

------------------------------------------- */
.swiper-pagination-bullet {
    opacity: 1;
    width: 3rem;
    height: 3rem;
    margin: 0 .5rem !important;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: solid .2rem transparent;
    transition: $t-sm;

    &:after {
        content: '';
        width: .5rem;
        height: .5rem;
        background-color: $m-1;
        border-radius: 50%;
        transition: $t-sm;
    }

    &:hover {
        &:after {
            transform: scale(1.5);
        }
    }

    &.swiper-pagination-bullet-active {
        border-color: $a-1;

        &:after {
            transform: scale(1.5);
            background-color: $a-1;
        }
    }
}

.mil-services-pagination {
    & .swiper-pagination-bullet {
        &:after {
            background-color: $m-3;
        }

    }

}

/* -------------------------------------------

forms

------------------------------------------- */
form {

    & input,
    & textarea {
        background-color: transparent;
        width: 100%;
        border: none;
        height: 4rem;
        border-bottom: solid 0.1rem rgba($m-2, .5);
        font-family: $font-2;
        font-size: 1.6rem;
        color: $m-2;
        transition: $t-sm;

        &::placeholder {
            font-family: $font-2;
            font-size: 1.6rem;
        }

        &:hover,
        &:focus {
            border-bottom: solid 0.1rem rgba($m-2, 1);
        }
    }

    & textarea {
        padding-top: 1rem;
        height: 15rem;
    }
}

.mil-subscribe {
    width: 100%;
    display: flex;
    align-items: center;

    & .mil-input-frame {
        width: 100%;
    }
}

/* -------------------------------------------

list

------------------------------------------- */
.mil-check-list {
    & li {
        list-style-type: none;
        margin-bottom: 1rem;
        display: flex;
        align-items: center;

        & i {
            margin-right: 1rem;
            font-size: 1.2rem;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }
}

/* -------------------------------------------

flex

------------------------------------------- */

.mil-jcs {
    display: flex;
    justify-content: flex-start;
}

.mil-jce {
    display: flex;
    justify-content: flex-end;
}

.mil-jcb {
    display: flex;
    justify-content: space-between;
}

.mil-jcc {
    display: flex;
    justify-content: center;
}

.mil-aic {
    display: flex;
    align-items: center;
}

.mil-aie {
    display: flex;
    align-items: flex-end
}

.mil-column {
    display: flex;
    flex-direction: column;
}

.mil-reverse {
    display: flex;
    flex-direction: row-reverse;
}

.mil-relative {
    position: relative;
}

.mil-tac {
    text-align: center;
}

.mil-tal {
    text-align: left;
}

.mil-rounded {
    border-radius: 50%;
}

@media (max-width: 768px) {
    .mil-sm-jcs {
        display: flex;
        justify-content: flex-start;
    }

    .mil-sm-jcc {
        justify-content: center;
    }

    .mil-sm-row {
        flex-direction: row;
    }

    .mil-sm-hidden {
        display: none;
    }
}

/* -------------------------------------------

width

------------------------------------------- */

.mil-w-12 {
    width: 1.2rem;
}

.mil-w-52 {
    width: 5.2rem;
}

.mil-w-60 {
    width: 6rem;
}

.mil-w-75 {
    width: 7.5rem;
}

.mil-w-90 {
    width: 9rem;
}

/* -------------------------------------------

spaces

------------------------------------------- */

//margin-right

.mil-mr-10 {
    margin-right: 1rem;
}

.mil-mr-15 {
    margin-right: 1.5rem;
}

.mil-mr-20 {
    margin-right: 2rem;
}

.mil-mr-30 {
    margin-right: 3rem;
}

.mil-mr-40 {
    margin-right: 4rem;
}

.mil-mr-50 {
    margin-right: 5rem;
}

.mil-mr-60 {
    margin-right: 6rem;
}

//margin-left

.mil-ml-10 {
    margin-left: 1rem;
}

.mil-ml-15 {
    margin-left: 1.5rem;
}

.mil-ml-20 {
    margin-left: 2rem;
}

.mil-ml-30 {
    margin-left: 3rem;
}

.mil-ml-40 {
    margin-left: 4rem;
}

.mil-ml-50 {
    margin-left: 5rem;
}

.mil-ml-60 {
    margin-left: 6rem;
}

//margin-top

.mil-mt-30 {
    margin-top: 3rem;
}

.mil-mt-60 {
    margin-top: 6rem;
}

.mil-mt-100 {
    margin-top: 10rem;
}

//margin-bottom

.mil-mb-5 {
    margin-bottom: .5rem;
}


.mil-mb-10 {
    margin-bottom: 1rem;
}

.mil-mb-15 {
    margin-bottom: 1.5rem;
}

.mil-mb-20 {
    margin-bottom: 2rem;
}

.mil-mb-30 {
    margin-bottom: 3rem;
}

.mil-mb-40 {
    margin-bottom: 4rem;
}

.mil-mb-50 {
    margin-bottom: 5rem;
}

.mil-mb-60 {
    margin-bottom: 6rem;
}

.mil-mb-80 {
    margin-bottom: 8rem;
}

.mil-mb-100 {
    margin-bottom: 10rem;
}

//hugs

.mil-p-100-100 {
    padding-top: 12rem;
    padding-bottom: 12rem;
}

.mil-p-0-100 {
    padding-bottom: 12rem;
}

.mil-p-100-0 {
    padding-top: 12rem;
}

.mil-p-100-40 {
    padding-top: 12rem;
    padding-bottom: 4rem;
}

.mil-p-200-40 {
    padding-top: 20rem;
    padding-bottom: 40px;
}

.mil-p-0-40 {
    padding-bottom: 4rem;
}

.mil-p-0-85 {
    padding-bottom: 8.5rem;
}

.mil-p-100-70 {
    padding-top: 12rem;
    padding-bottom: 7rem;
}

.mil-p-100-90 {
    padding-top: 12rem;
    padding-bottom: 9rem;
}

.mil-p-100-200 {
    padding-top: 12rem;
    padding-bottom: 20rem;
}

.mil-p-200-100 {
    padding-top: 20rem;
    padding-bottom: 12rem;
}

.mil-p-200-0 {
    padding-top: 20rem;
}

.mil-p-0-70 {
    padding-bottom: 7rem;
}

.mil-p-0-90 {
    padding-bottom: 9rem;
}

.mil-p-30-30 {
    padding-top: 3rem;
    padding-bottom: 3rem;
}



@media (max-width: 992px) {
    .mil-md-mb-60 {
        margin-bottom: 6rem;
    }

    .mil-sm-p-0-0 {
        padding-top: 0;
        padding-bottom: 0;
    }

    .mil-sm-p-100-100 {
        padding-top: 10rem;
        padding-bottom: 10rem;
    }

    .mil-sm-p-100-0 {
        padding-top: 10rem;
        padding-bottom: 0;
    }

    .mil-sm-p-100-40 {
        padding-top: 10rem;
        padding-bottom: 4rem;
    }
}
