/* -------------------------------------------

fonts

------------------------------------------- */

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

$font-1: "Inter",
sans-serif;
$font-2: "Open Sans",
sans-serif;

/* -------------------------------------------

colors

------------------------------------------- */

$m-1: #141414;
$m-2: #8A8A8A;
$m-3: #fff;

$a-1: #FF8473;
$a-2: #FFE588;
$a-3: #7152E1;

/* -------------------------------------------

transition

------------------------------------------- */

$t-sm: .2s cubic-bezier(0, 0, 0.3642, 1);
$t-md: .4s cubic-bezier(0, 0, 0.3642, 1);
$t-lg: .6s cubic-bezier(0, 0, 0.3642, 1);
$t-xl: .8s cubic-bezier(0, 0, 0.3642, 1);
