/* -------------------------------------------

Name:       Spoli
Version:    1.0
Author:	    bslthemes
Developer:  Nazar Miller (millerDigitalDesign)
Website:    https://bslthemes.com/

------------------------------------------- */

/*--------------------------------------------
1. common
    - main
    - buttons
    - typography
    - breadcrumbs
    - pagination
    - forms
    - list
    - flex
    - width
    - spaces
2. hero
    - hero 1
    - hero 2
    - hero 3
    - hero 4
3. components
    - top panel
    - services
    - timeline
    - portfolio
    - reviews
    - brands
    - blog
    - subscribe
    - price
    - statistic
    - instagram
    - prices
    - colections
    - gallery
    - accordion (faq)
    - skills
    - footer
    - publication
--------------------------------------------*/

@import 'variables';
@import 'common';
@import 'hero';
@import 'components';
